
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    --azul-muito-claro:hsl(225, 100%, 94%);
    --azul-brilhante: hsl(245, 75%, 52%);
    --azul-ultra-claro: hsl(225, 100%, 98%);
    --azul-desfocado: hsl(225, 16%, 41%);
    --azul-escuro: hsl(223, 47%, 23%);
    --hover-botoes: hsl(245, 70%, 58%);
    /*Fonts*/
    --fonte-principal:'Red Hat Display', 'sans-serif';
}

*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /*Com essa propriedade quando valor é em "vh" consigo centralizar a <div> no <body> */
    /*background-image: url('../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color:var(--azul-muito-claro);
    font-family: var(--fonte-principal);
}

.corpo__pagina{
    background-color: #ffffff;
    margin: 1.5em;
    border-radius: 15px;
    text-align: center;
}

.secao__cabecalho img{
    width:100%;
    border-radius: 15px 15px 0 0;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding: 2em;
}

.secao__principal{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.secao__planos{
    font-weight: 700;
    display:grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2,auto);
    column-gap: 15px;
    font-size: 14px;
}

.secao__planos .icone__musica{
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
}

.secao__planos .nome__plano{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

.secao__planos h5{
    grid-column: 2/3;
    grid-row: 2/3;
    color: var(--azul-desfocado);
    align-self: center;
}

.secao__planos .mudar__plano{
    grid-column: 3/3;
    grid-row: 1/3;
    align-self: center;
    margin-left: 25px;
    color:var(--azul-brilhante);
}

.secao__planos .mudar__plano:visited{
    color: var(--azul-brilhante);
}

.secao__planos .mudar__plano:hover{
    color: var(--hover-botoes);
}

.secao__pagamento{
    padding: 2em;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
}

.secao__pagamento .botao__pagamento{
    background-color: var(--azul-brilhante);
    padding:12px;
    border-radius: 10px;
    color:var(--azul-muito-claro);
    text-decoration: none;
    box-shadow: 0 6px 9px var(--azul-desfocado);
    margin-bottom: 20px;
}

.secao__pagamento .botao__pagamento:hover{
    background-color: var(--hover-botoes);
}

.secao__pagamento .botao__cancelar-ordem{
    color: var(--azul-desfocado);
    text-decoration: none;
}

@media(min-width: 834px){

    body{
        background-image: url('../images/pattern-background-desktop.svg');
        background-repeat: no-repeat;
        background-size:contain;
    }
    .secao__pagamento{
        padding: 2em 10em;
    }
}

