@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 2em;
    padding-top: 5em;
    background-color: #e4e4e4

}

.container h2{
    font-size: 30px;
    color: #175cff;
}

.timer{
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

.time{
    text-align: center;
    min-width: 90px;
    color: #050531;
    font-weight: bold;
}

.timer #miliseconds{
    padding-left: 6px;
    font-size: 24px;
    color: #383737;
}

.separator{
    padding: 0 6px;
    color: #383737;
}

.controls{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.controls button{
    padding: 8px;
    border-radius: 15px;
    border: 1px solid transparent;
    font-weight: bold;
    cursor: pointer;
    transition: 1ms;
}

.controls button:hover{
    transform: scale(1.1);
    background-color: #175cff;
    color: #fff;
}

.controls #start-btn-id{
    background-color: #175cff;
    color: #fff;
}

.controls #resume-btn-id, #pause-btn-id{
    display: none;
}




